a {
  &.btn {
    &:visited {
      color: $gray-lighter;
    }
  }

  &.btn-default {
    &:visited {
      color: $gray-dark;
    }
  }

  &.btn-link {
    &:visited {
      color: $gray-dark;
    }
  }

}
